<form>
    <div>
        <label for="username">login: </label>
        <input id="username" [(ngModel)]="username" placeholder="admin" name="username">
    </div>

    <div>
        <label for="password">password: </label>
        <input id="password"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            placeholder="admin" name="password">
    </div>

    <div>
        <label for="show">Показать пароль</label>
        <input type="checkbox" [(ngModel)]="showPassword" name="showPassword">
    </div>

    <button (click)="login()">войти</button>
    <button (click)="register()">зарегистрироваться</button>
</form>

<div *ngIf="error" >{{error}}</div>