<mat-card>
    <mat-card-header>
        <mat-card-title-group class="full-width">
            <mat-card-title  class="full-width">{{ticket.title}}</mat-card-title>
            <mat-card-subtitle class="full-width">
                <div>обращение № {{ticket.id}}</div>
                <div class="status">{{ticket.isOpened ? 'active' : 'closed'}}</div>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>{{ticket.content}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-flat-button [disabled]="ticket.isOpened" color="primary"
            (click)="setTicketStatus(true)">REOPEN</button>
        <button mat-flat-button [disabled]="!ticket.isOpened" color="warn"
            (click)="setTicketStatus(false)">CLOSE</button>
    </mat-card-actions>

    <mat-card-footer>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Отредактировать тикет
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form class="form">                
                    <p>
                        <mat-form-field color="primary" class="full-width">
                            <mat-label>Заголовок:</mat-label>
                            <input matInput placeholder="что за пробллема?" [(ngModel)]="ticket.title" name="title">
                        </mat-form-field>
                        <mat-form-field color="primary" class="full-width">
                            <mat-label>Описание проблемы:</mat-label>
                            <input matInput placeholder="Детальное описание проблемы"
                                [(ngModel)]="ticket.content" name="content">
                        </mat-form-field>
                    </p>

                    <button mat-flat-button class="full-width" color="warn" (click)="updateTicket()">обновить тикет</button>

                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-footer>
</mat-card>