nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid black;
}

nav ul li {
    padding: 5px;
}

.router-wrapper {
    flex-grow: 1;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.router-wrapper > router-outlet + * {
    flex-grow: 1;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: orange;
}