<form class="form">
    <p>
        <mat-form-field color="primary" class="full-width">
            <mat-label>login: </mat-label>
            <input matInput id="username" placeholder="admin"
                    [(ngModel)]="username" name="username">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field color="primary" class="full-width">
            <mat-label>password:</mat-label>
            <input matInput id="password" placeholder="admin"
                [type]="showPassword ? 'text' : 'password'"
                [(ngModel)]="password" name="password">
            <button mat-icon-button matSuffix (click)="showPassword = !showPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
                <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </p>

    <div class="full-width button-row">
        <button mat-flat-button color="primary" (click)="login()">войти</button>
        <button  mat-flat-button color="warn" (click)="register()">зарегистрироваться</button>
    </div>
</form>