<mat-tab-group>
    <mat-tab label="Все">
        <div class="card-deck">
            <app-ticket-card *ngFor="let ticket of tickets" [ticket]="ticket" (ticketUpdate)="ticketUpdate($event)">
            </app-ticket-card>
        </div>
    </mat-tab>
    <mat-tab label="Открытые">
        <div class="card-deck">
            <app-ticket-card *ngFor="let ticket of tickets | ticketHasStatus: true" [ticket]="ticket" >
            </app-ticket-card>
        </div>
    </mat-tab>
    <mat-tab label="Закрытые">
        <div class="card-deck">
            <app-ticket-card *ngFor="let ticket of tickets  | ticketHasStatus: false" [ticket]="ticket">
            </app-ticket-card>
        </div>
    </mat-tab>
</mat-tab-group>