<form class="form">
    <p>
        <mat-form-field color="primary" class="full-width">
            <mat-label> имя: </mat-label>
            <input matInput id="name" placeholder="Vasa" [(ngModel)]="name" name="name">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field color="primary" class="full-width">
            <mat-label>фамилия: </mat-label>
            <input matInput id="surname" placeholder="Pupkin" [(ngModel)]="surname" name="surname">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="full-width">
            <mat-label>Дата рождения</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="birthDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="full-width">
            <mat-label>Выберите город</mat-label>
            <mat-select [(value)]="city">
                <mat-option *ngFor="let city of CITIES" value="{{city}}">
                    {{city}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <button mat-flat-button color="primary" class="full-width" (click)="updateUserInfo()">обновить профиль</button>

</form>

<div class="center">
    <h2>У вас есть {{tickets.length}} <a href="/ticket">тикетов</a></h2>
</div>
